*{
    padding: 0;
    margin: 0;
}

:root{
    font-family: "Alice", serif;
    line-height: 150%;
}
body{
    background-image: url(assets/bg-image.jpg);
    background-size: cover;
}

#page{
    box-sizing: border-box;
width: 800px;
    background-color: #F0E8C2;
    margin: 48px auto 28px;
    border-radius: 16px;

}
img{
    border-radius: 16px;
}

main{
    display: block;
    padding: 24px;
}

#about p + p{
    margin-top: 12px
}

section + section{
    margin-top: 24px
}

h1{
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 4px;
}

h2{
    font-size: 24px;
}

h1, h2{
    margin-bottom: 4px;
    line-height: 150%;
}

ul{
    padding-left: 24px;
}

footer{
    text-align: center;
    color: #fffbe6;
    margin-bottom: 48px;
    }

    footer img{
        vertical-align: middle;
    }