*{
    padding: 0;
    margin: 0;
    color: #333333;
}

:root{
    line-height: 150%;
}

body{
    background-color: #ffe7e3;
}

#page{
    background-color: white;
    box-sizing: border-box;
width: 1120px;
padding:16px ;
    margin: 45px auto 45px;
    border-radius: 16px;
 font-family: "Open Sans", sans-serif;
}

img{
width: 100%;            /* A imagem agora vai ocupar exatamente o espaço que sobrar dentro do padding */
    height: 350px;          /* Mantém a altura que você já tinha definido */
    object-fit: cover;
    border-radius: 16px;
    margin: 40px 0 20px 0;
}

#imgprincipal{
    margin: 10px 0;
}

header img{
    height: 660px;
}

#headline{
  font-size: 16px;
  line-height: 22px;
  font-weight: bold; /* A fonte fica em negrito */
  color: #e1624f;
  text-transform: uppercase; /* A fonte fica com todas as letras em maiúsculo */
}

#description {
  font-size: 16px;
  line-height: 22px;
  font-style: italic; /* Muda estilo da fonte para itálico */
  text-align: center;
  color: #333333;
  margin: 40px auto;
}

#divider {
  width: 100%;
  margin: 36px 0;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

footer{
    display: block;
    text-align: center;
    margin: 36px 0
}
h1{
    margin-bottom: 40px;
    margin-top: 12px;
    font-size: 36px;
}
h2{
        margin-bottom: 20px;
    margin-top: 12px;
    font-size: 32px;
}
h3{
        margin-bottom: 15px;
    font-size: 28px;
}

ul{
    list-style-position: inside
}

b{
    display: block;
    margin-top: 12px;
}